.nav-link{
    color: #555;
    text-decoration: none;
    display: flex;
    transition: all 200ms;
    border-radius: 10px;
}

.nav-link:hover{
    color: #aaa;
}

.active-link{
    color: #fff;
    background: #222;
}

.icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    padding-left: 2px;
    font-weight: 700;
}