<form class="login" [formGroup]="accountForm" (ngSubmit)="submit()">
  <div class="input-container">
    <label class="label" for="email">Email:</label>
    <input
      class="input"
      type="email"
      formControlName="email"
      id="email"
      name="email"
      placeholder="email"
    />
    @if (!accountForm.get('email')?.valid) {
    <span class="error">Email is invalid</span>
    }
  </div>
  <div class="input-container">
    <label class="label" for="username">Username:</label>
    <input
      class="input"
      type="text"
      formControlName="username"
      id="username"
      name="username"
      placeholder="username"
    />
    @if (!accountForm.get('username')?.valid) {
    <span class="error">Username is invalid!</span>
    }
  </div>
  <div class="input-container">
    <label class="label" for="password">Password:</label>
    <input
      class="input"
      type="password"
      formControlName="password"
      id="password"
      name="password"
      placeholder="password"
    />
    @if (!accountForm.get('password')?.valid) {
    <span class="error">Password is invalid!</span>
    }
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <span
    >Don't have an account?
    <a class="link" routerLink="/auth/register">Register</a></span
  >
</form>
