<nav class="nav" [ngClass]="isNavOpen ? '' : 'nav-closed'">
  <button class="nav-toggle-btn" (click)="toggleNav()">
    <fa-icon
      class="fa-xl"
      [icon]="isNavOpen ? faChevronLeft : faChevronRight"
    ></fa-icon>
  </button>
  <ul
    class="nav-list"
    [ngClass]="isNavOpen ? 'nav-list-open' : 'nav-list-closed'"
  >
    <div class="nav-links">
      <nav-link
        route="/home"
        [icon]="faHouse"
        [text]="isNavOpen ? 'Home' : ''"
      ></nav-link>
      <nav-link
        route="/time-table"
        [icon]="faCalendar"
        [text]="isNavOpen ? 'Time Table' : ''"
      ></nav-link>
      <nav-link
        route="/all-time"
        [icon]="faHourGlassHalf"
        [text]="isNavOpen ? 'All Time' : ''"
      ></nav-link>
    </div>
    <div class="nav-user-link">
      <nav-link
        route="/user"
        [icon]="faUser"
        [text]="isNavOpen ? userName : ''"
      ></nav-link>
    </div>
  </ul>
</nav>
