.nav{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #fff;
    border-radius: 20px;
    width: 60px;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px) saturate(100%) contrast(100%) brightness(50%);
    box-shadow: 0 0px 20px 5px #000;
    border: 2px solid #0e0e0e;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.custom-nav-link-with-date{
    position: relative;
}

.date{
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    pointer-events: none;
}