<nav class="nav">
  <div class="logo-container">
    <img class="logo" src="assets/logo.png" alt="logo" />
  </div>
  <ul class="nav-list">
    <div class="nav-links">
      <div class="custom-nav-link-with-date">
        <span class="date">{{ date }}</span>
        <nav-link route="todos" [icon]="faCalendar" text="Todos"></nav-link>
      </div>
      <nav-link route="habits" [icon]="faRepeat" text="Habits"></nav-link>
    </div>
    <div class="nav-user-link">
      <nav-link route="user" [icon]="faUser" text="User"></nav-link>
    </div>
  </ul>
</nav>
