.nav{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #fff;
    border-radius: 20px;
    width: 200px;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px) saturate(100%) contrast(100%) brightness(50%);
    box-shadow: 0 0px 20px 5px #000;
    border: 2px solid #0e0e0e;
}

.nav-closed{
    width: 60px;
}

.nav-toggle-btn{
    align-self: end;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #808080;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 100%;
    padding-bottom: 10px;
}


.nav-list-open{
    align-items:start;
    padding-left: 4px;
}

.nav-list-closed{
    align-items: center;

}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}