.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
    color: #fff;
    width: 60px;
    height: 100%;
    padding: 10px;
    border-right: 2px solid #0e0e0e;
    background-color: #000;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.custom-nav-link-with-date{
    position: relative;
}

.date{
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    pointer-events: none;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.logo{
    width: 100%;
    height: 100%;
}