:host{
    display: flex;
}


.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 20px 10px;
}

.header{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.todos-containers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right{
    flex-grow: 1;
    padding: 20px 10px;
}

.btn {
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: #141414;
    border-radius: 2px;
}

.icon{
    width: 17.5px;
    height: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-dates{
    display: flex;
    gap: 10px;
}

.week-table{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 96%;
    gap: 30px;
}

.week-table-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dates, .days{
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
}

.day{
    min-width: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week-table-body{
    display: flex;
    height: 100%;
    overflow-y: scroll;
    
}

.week-table-body::-webkit-scrollbar {
    display: none;
}

.hours{
    min-width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.hour{
    min-height: 100px;
}

.tasks{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-right: 30px;
}

.task-col{
    min-width: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-row{
    min-height: 100px;
}