:host{
    display: flex;
    flex-direction: column;
    background: #141414;
    border-radius: 5px;
    padding: 5px 10px;
    padding-bottom: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.todos{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
}

.btn {
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}